body
{
background-position: center;
background-size: cover;
}
h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
 background-color: crimson;
}
canvas {
    position: center;
    animation-name: filters;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes filters{
    from {box-shadow:1px 1px 38px purple;}
    to {box-shadow:1px 1px 38px palevioletred;}
}
